:root {
  --main-bg-color: #a2a8d3;
  --primary-color: #e7eaf6;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.page {
  background-color: var(--main-bg-color);
  padding-bottom: 30px;
}

.navbar {
  background-color: var(--primary-color);
  margin-bottom: 50px;
}

.intro {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.photo {
  border-radius: 43% 57% 55% 45% / 22% 50% 50% 78%;
}

#button-1:hover {
  background-color: var(--primary-color) !important;
}

.projects-part,
.contact-part {
  background-color: var(--primary-color);
  padding-bottom: 30px;
}

h2 {
  margin-top: 20px;
  margin-left: 55px;
  padding-left: 6px;
  margin-right: 55px;
  padding-right: 6px;
}

#projects-img {
  border-radius: 14px;
}

#contact-button:hover {
  background-color: var(--main-bg-color) !important;
}

@media (max-width: 576px) {
  .social-big-screen {
    display: none;
  }
}

@media (min-width: 576px) {
  .social-small-screen {
    display: none;
  }
}

@media (max-width: 576px) {
  .social-small-screen {
    display: flex;
    justify-content: center;
  }
}

i {
  margin: 5px;
}

#projects-cover-img {
  border: 3px solid #885df1;
}
